
/* 
    Created on : 11 Feb, 2018, 9:41:36 PM
    Author     : Shivamkumar
*/
body
{
    background-image: url("image/1.jpg");
    background-size: 100% 100%;
}

#header {
    border-bottom: 3px solid grey;
}

#header > h1 {
    margin: 5px 0px;
    padding: 5px 0px 20px 0px;
    display: inline-block;
}

#header > .group {
    float: right;
    margin-top: 30px;
}

#header > .group > a {
    font-size: 20px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#header > .group > a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#header > .group > a:active {
    background-color: rgba(0, 0, 0, 0.7);
}
.option {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 40px;
}
#content2 {
    width: 65%;
    margin: 0 auto;
}
#content3{
    width: 65%;
    margin: 40px auto;
}
#content5{
    width: 65%;
    margin: 40px auto;
}
#content4{
    width: 65%;
    margin: 20px auto;
 
}

#content6{
    width: 65%;
    margin: 20px auto;
 
}

.title {
    margin-top: 20px;
}
form{
    padding: 10px 30px 30px 30px; 
    background-color: whitesmoke; 
    box-shadow: 0 2px 4px 3px #999; 
    border-radius: 20px;
}
